In [11]:
#Columns are Purchase ID, SN, Age, Gender, Item IT, Item Name, Price
#dependencies
import pandas as pd

#Store filepath as variable
filepath = "purchase_data.csv"

#pull into a data frame
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Count total number of players
uniquesn = df["SN"].nunique()
uniqued = {'Total Players': [uniquesn]}
uniquedf = pd.DataFrame(uniqued)
uniquedf

   Total Players
0            576

In [12]:
#Purchasing Analysis (Total)
#number of unique items
unique_items = df["Item ID"].nunique()

#total number of purchases
unique_purchases = df["Purchase ID"].nunique()

#total revenue
total_spent = df["Price"].sum()

#average purchase price
average_purchase_price = total_spent / unique_purchases

#Format into dollars and cents
#Steps found here https://stackoverflow.com/questions/21208376/converting-float-to-dollars-and-cents
total_spent = '${0:,.2f}'.format(total_spent)
average_purchase_price = '${0:,.2f}'.format(average_purchase_price)

pa_total_d = {'Number of Unique Items': [unique_items], 
              'Average Price': [average_purchase_price],
              'Number of Purchases': [unique_purchases],
              'Total Revenue': [total_spent]}

pa_total_df = pd.DataFrame(pa_total_d)
pa_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [53]:
#Gender demographics
#Percentage and Count of Male players
#Percentage and count of female players
#Percentage and count of other/non-disclosed

#https://stackoverflow.com/questions/21402485/pandas-how-to-filter-a-df-to-get-unique-entries
gender_unique = df.groupby(["SN"]).first()
display(gender_unique)
all_players = gender_unique["Gender"].count()
print(f"Total players = {all_players}")

male_players = gender_unique.loc[gender_unique["Gender"] == "Male", :]
male_players = male_players["Gender"].count()
male_percentage = round((male_players / all_players)*100,2).astype("float")
#print(male_percentage.dtype)
#https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-36.php
male_percentage = "{:.2f}%".format(male_percentage)
# print(f"There are {male_players} male players")
# print(f"Males make up {male_percentage} of total players")

female_players = gender_unique.loc[gender_unique["Gender"] == "Female", :]
female_players = female_players["Gender"].count()
female_percentage = round((female_players / all_players)*100,2).astype("float")
female_percentage = "{:.2f}%".format(female_percentage)
# print(f"There are {female_players} female players")
# print(f"Females make up {female_percentage} of total players")

other_players = gender_unique.loc[gender_unique["Gender"] == "Other / Non-Disclosed", :]
other_players = other_players["Gender"].count()
other_percentage = round((other_players / all_players)*100,2).astype("float")
other_percentage = "{:.2f}%".format(other_percentage)
# print(f"There are {other_players} non-disclosed players")
# print(f"Non-disclosed make up {other_percentage} of total players")

#https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.from_dict.html
gender_output_df = {'Male': [male_players, male_percentage],
                    'Female': [female_players, female_percentage],
                    'Other/Non-disclosed': [other_players, other_percentage]}

gender_output_df = pd.DataFrame.from_dict(gender_output_df, orient='index',
                                         columns = ["Total Count", "Percentage of Players"])
gender_output_df

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,125,20,Female,62,Piece Maker,1.87
Yathedeu43,93,22,Male,88,"Emberling, Defender of Delusions",3.75
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,54,10,Male,25,Hero Cane,4.35
Zontibe81,17,21,Male,161,Devine,1.76

Total players = 576

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-disclosed           11                 1.91%

In [77]:
#purchasing analysis (gender)
#Break down all below by gender
#Purchase count
#average purchase price
#total purchase value
#average purchase total per person by gender
pa_gender_df = df[["Gender","Purchase ID"]]
pa_gender_df.columns = ['Gender', 'Purchase Count']
pa_gender_df = pa_gender_df.groupby(["Gender"]).count()
#display(pa_gender_df)

total_purch_value = df[["Gender", "Price"]]
total_purch_value.columns = ['Gender', 'Price']
total_purch_value = total_purch_value.groupby(["Gender"]).sum()
#display(total_purch_value)

merged_gender_pa = pd.merge(left=pa_gender_df, right=total_purch_value, on = "Gender")
merged_gender_pa["Average Purchase Price"] = merged_gender_pa["Price"]/merged_gender_pa["Purchase Count"]


gender_unique_two = df.groupby(["SN"]).first()
gender_unique_two = gender_unique_two.groupby("Gender").count()
gender_unique_two = gender_unique_two[["Purchase ID"]]
gender_unique_two.columns = ['Unique Users']
#display(gender_unique_two)

merged_gender_pa = pd.merge(left=merged_gender_pa, right=gender_unique_two, on = "Gender")
merged_gender_pa["Avg Per Person"] = merged_gender_pa["Price"]/merged_gender_pa["Unique Users"]
merged_gender_pa = merged_gender_pa[["Purchase Count","Average Purchase Price",
                                     "Price","Avg Per Person"]]
merged_gender_pa.columns = ["Purchase Count", "Average Purchase Price",
                            "Total Purchase Value", "Avg Total Purchase per Person"]

#https://stackoverflow.com/questions/35019156/pandas-format-column-as-currency
#female_percentage = "{:.2f}%".format(female_percentage)
#merged_gender_pa["Average Purchase Price"] = merged_gender_pa["Average Purchase Price"].apply(lambda x:"${:.2f}".format())
display(merged_gender_pa)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [ ]:
#age demographics
#break into bins of 4 years (ie <10, 10-14, 15-19, etc.)
#Purchase count
#Average Purchase Price
#Total Purchase value
#Average purchase total per person by age group

In [ ]:
#Top spenders
#identify the 5 top spenders in the game by total purchase value, then list in
#a table:
#Sn
#Purchase Count
#Average Purchase Price
#total Purchase value

In [ ]:
#Most popular items
#identify the 5 most popular items by purchase count, then list in a table:
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [ ]:
#Most profitable items
#Identify the 5 most profitable items by total purchase value, then list in a tab:
#item id
#item name
#purchase count
#item price
#total purchase value

In [ ]:
#include a written condition of three observable trends based on the data