In [1]:
#Columns are Purchase ID, SN, Age, Gender, Item IT, Item Name, Price
#dependencies
import pandas as pd
import numpy as np

#Store filepath as variable
filepath = "purchase_data.csv"

#pull into a data frame
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Count total number of players
uniquesn = df["SN"].nunique()
uniqued = {'Total Players': [uniquesn]}
uniquedf = pd.DataFrame(uniqued)
uniquedf

   Total Players
0            576

In [11]:
#Purchasing Analysis (Total)
#number of unique items
unique_items = df["Item ID"].nunique()

#total number of purchases
unique_purchases = df["Purchase ID"].nunique()

#total revenue
total_spent = df["Price"].sum()

#average purchase price
average_purchase_price = total_spent / unique_purchases

#Format into dollars and cents
#Steps found here https://stackoverflow.com/questions/21208376/converting-float-to-dollars-and-cents
total_spent = '${0:,.2f}'.format(total_spent)
average_purchase_price = '${0:,.2f}'.format(average_purchase_price)

pa_total_d = {'Number of Unique Items': [unique_items], 
              'Average Price': [average_purchase_price],
              'Number of Purchases': [unique_purchases],
              'Total Revenue': [total_spent]}

pa_total_df = pd.DataFrame(pa_total_d)
pa_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [43]:
#Gender demographics
#Percentage and Count of Male players
#Percentage and count of female players
#Percentage and count of other/non-disclosed
male_df = df.loc[df["Gender"] == "Male", :]
male_count = male_df["SN"].nunique()


female_df = df.loc[df["Gender"] == "Female", :]
female_count = female_df["SN"].nunique()

other_df = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
other_count = other_df["SN"].nunique()

total_count = pd.DataFrame({'Male' == male_count, 
               'Female' == female_count, 
               'Other' == other_count})

total_count


# gender_counts = df["Gender"].value_counts()
# gender_group = df.groupby(["Gender"])
# gender_percentage = gender_counts / uniquesn
# gender_table = pd.DataFrame({'Total Count': gender_counts,
#                              'Percentage of Total': gender_percentage})
# gender_table.head()

       0
0  False

In [ ]:
#purchasing analysis (gender)
#Break down all below by gender
#Purchase count
#average purchase price
#total purchase value
#average purchase total per person by gender

In [ ]:
#age demographics
#break into bins of 4 years (ie <10, 10-14, 15-19, etc.)
#Purchase count
#Average Purchase Price
#Total Purchase value
#Average purchase total per person by age group

In [ ]:
#Top spenders
#identify the 5 top spenders in the game by total purchase value, then list in
#a table:
#Sn
#Purchase Count
#Average Purchase Price
#total Purchase value

In [ ]:
#Most popular items
#identify the 5 most popular items by purchase count, then list in a table:
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [ ]:
#Most profitable items
#Identify the 5 most profitable items by total purchase value, then list in a tab:
#item id
#item name
#purchase count
#item price
#total purchase value

In [ ]:
#include a written condition of three observable trends based on the data